name: Simple CI Lab

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.12", "3.14" ]

    env:
      APP_ENV: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run app
        run: |
          python app.py

      - name: Echo GitHub env vars
        run: |
          echo "Branch: $GITHUB_REF"
          echo "Commit: $GITHUB_SHA"
          echo "Runner OS: $RUNNER_OS"

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - run: echo "Building app"